# Ignore node modules directory
node_modules

# Ignore Python cache
__pycache__/

# Ignore logs and temp files
*.log
*.tmp

# Ignore environment files
.env

# Ignore IDE specific files
.vscode/
.idea/

